<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>越光宝盒</string>
		<key>icon</key>
		<string>movie_ygbh</string>
		<key>title</key>
		<string>恶搞风格的喜剧大片</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>飞</string>
			<string>人</string>
			<string>笑</string>
			<string>越</string>
			<string>黄</string>
			<string>工</string>
			<string>大</string>
			<string>超</string>
			<string>传</string>
			<string>特</string>
			<string>宝</string>
			<string>鸿</string>
			<string>队</string>
			<string>赤</string>
			<string>光</string>
			<string>人</string>
			<string>壁</string>
			<string>盒</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>中国合伙人</string>
		<key>icon</key>
		<string>movie_zghhr</string>
		<key>title</key>
		<string>创业励志电影</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>头</string>
			<string>中</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>壁</string>
			<string>合</string>
			<string>宝</string>
			<string>的</string>
			<string>美</string>
			<string>疯</string>
			<string>线</string>
			<string>石</string>
			<string>光</string>
			<string>人</string>
			<string>伙</string>
			<string>人</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>阿甘正传</string>
		<key>icon</key>
		<string>movie_agzz</string>
		<key>title</key>
		<string>生活就像一盒巧克力....</string>
		<key>options</key>
		<array>
			<string>林</string>
			<string>阿</string>
			<string>玛</string>
			<string>泽</string>
			<string>正</string>
			<string>井</string>
			<string>颖</string>
			<string>甘</string>
			<string>飞</string>
			<string>渤</string>
			<string>鸿</string>
			<string>利</string>
			<string>依</string>
			<string>林</string>
			<string>空</string>
			<string>苍</string>
			<string>传</string>
			<string>亚</string>
			<string>蔡</string>
			<string>晨</string>
			<string>小</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>霸王别姬</string>
		<key>icon</key>
		<string>movie_bwbj</string>
		<key>title</key>
		<string>不疯魔，不成活。</string>
		<key>options</key>
		<array>
			<string>姬</string>
			<string>丹</string>
			<string>飞</string>
			<string>吕</string>
			<string>李</string>
			<string>贤</string>
			<string>黄</string>
			<string>小</string>
			<string>霸</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>天</string>
			<string>赫</string>
			<string>别</string>
			<string>陈</string>
			<string>春</string>
			<string>宇</string>
			<string>乐</string>
			<string>林</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>线人</string>
		<key>icon</key>
		<string>movie_xr</string>
		<key>title</key>
		<string>谢霆锋主演的悬疑犯罪片</string>
		<key>options</key>
		<array>
			<string>超</string>
			<string>窃</string>
			<string>黄</string>
			<string>无</string>
			<string>间</string>
			<string>鸿</string>
			<string>笑</string>
			<string>火</string>
			<string>传</string>
			<string>道</string>
			<string>听</string>
			<string>线</string>
			<string>风</string>
			<string>云</string>
			<string>越</string>
			<string>人</string>
			<string>狱</string>
			<string>索</string>
			<string>飞</string>
			<string>人</string>
			<string>导</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>海上钢琴师</string>
		<key>icon</key>
		<string>movie_hsgqs</string>
		<key>title</key>
		<string>一个天才的传奇一生</string>
		<key>options</key>
		<array>
			<string>宝</string>
			<string>炫</string>
			<string>杰</string>
			<string>上</string>
			<string>伦</string>
			<string>志</string>
			<string>海</string>
			<string>震</string>
			<string>汪</string>
			<string>师</string>
			<string>沙</string>
			<string>庾</string>
			<string>澄</string>
			<string>钢</string>
			<string>周</string>
			<string>庆</string>
			<string>琴</string>
			<string>林</string>
			<string>杰</string>
			<string>林</string>
			<string>东</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>荒野猎人</string>
		<key>icon</key>
		<string>movie_hylr</string>
		<key>title</key>
		<string>小李子的获奖作品</string>
		<key>options</key>
		<array>
			<string>栋</string>
			<string>荒</string>
			<string>杰</string>
			<string>汪</string>
			<string>张</string>
			<string>炫</string>
			<string>野</string>
			<string>咏</string>
			<string>校</string>
			<string>东</string>
			<string>张</string>
			<string>震</string>
			<string>人</string>
			<string>志</string>
			<string>伦</string>
			<string>谭</string>
			<string>长</string>
			<string>亮</string>
			<string>岳</string>
			<string>猎</string>
			<string>周</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>美丽人生</string>
		<key>icon</key>
		<string>movie_mlrs</string>
		<key>title</key>
		<string>这是父亲所作的牺牲，这是父亲赐我的恩典。</string>
		<key>options</key>
		<array>
			<string>德</string>
			<string>荣</string>
			<string>人</string>
			<string>国</string>
			<string>友</string>
			<string>杰</string>
			<string>华</string>
			<string>刘</string>
			<string>美</string>
			<string>学</string>
			<string>志</string>
			<string>伦</string>
			<string>咏</string>
			<string>生</string>
			<string>富</string>
			<string>郭</string>
			<string>城</string>
			<string>丽</string>
			<string>谭</string>
			<string>周</string>
			<string>张</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>三傻大闹好莱坞</string>
		<key>icon</key>
		<string>movie_ssdnhlw</string>
		<key>title</key>
		<string>印度著名喜剧电影</string>
		<key>options</key>
		<array>
			<string>少</string>
			<string>王</string>
			<string>三</string>
			<string>依</string>
			<string>泽</string>
			<string>好</string>
			<string>岛</string>
			<string>林</string>
			<string>大</string>
			<string>松</string>
			<string>心</string>
			<string>枫</string>
			<string>利</string>
			<string>傻</string>
			<string>蔡</string>
			<string>坞</string>
			<string>闹</string>
			<string>林</string>
			<string>玛</string>
			<string>莱</string>
			<string>芬</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>教父</string>
		<key>icon</key>
		<string>movie_jf</string>
		<key>title</key>
		<string>黑社会大片</string>
		<key>options</key>
		<array>
			<string>江</string>
			<string>亡</string>
			<string>虎</string>
			<string>龙</string>
			<string>出</string>
			<string>游</string>
			<string>会</string>
			<string>猛</string>
			<string>更</string>
			<string>戏</string>
			<string>父</string>
			<string>黑</string>
			<string>特</string>
			<string>死</string>
			<string>老</string>
			<string>社</string>
			<string>教</string>
			<string>过</string>
			<string>惑</string>
			<string>古</string>
			<string>仔</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>泰坦尼克号</string>
		<key>icon</key>
		<string>movie_ttnkh</string>
		<key>title</key>
		<string>You jump,I jump!</string>
		<key>options</key>
		<array>
			<string>泰</string>
			<string>坦</string>
			<string>小</string>
			<string>熊</string>
			<string>维</string>
			<string>尼</string>
			<string>姐</string>
			<string>可</string>
			<string>接</string>
			<string>好</string>
			<string>的</string>
			<string>人</string>
			<string>王</string>
			<string>霸</string>
			<string>号</string>
			<string>克</string>
			<string>山</string>
			<string>副</string>
			<string>亲</string>
			<string>特</string>
			<string>上</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>肖生克的救赎</string>
		<key>icon</key>
		<string>movie_xskdjs</string>
		<key>title</key>
		<string>恐惧让你沦为囚犯，希望让你重获自由。</string>
		<key>options</key>
		<array>
			<string>饿</string>
			<string>副</string>
			<string>特</string>
			<string>生</string>
			<string>消</string>
			<string>肖</string>
			<string>尼</string>
			<string>克</string>
			<string>的</string>
			<string>自</string>
			<string>有</string>
			<string>救</string>
			<string>求</string>
			<string>赎</string>
			<string>再</string>
			<string>小</string>
			<string>天</string>
			<string>第</string>
			<string>选</string>
			<string>片</string>
			<string>傻</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>这个杀手不太冷</string>
		<key>icon</key>
		<string>movie_zgssbtl</string>
		<key>title</key>
		<string>萝莉与大叔的故事</string>
		<key>options</key>
		<array>
			<string>落</string>
			<string>太</string>
			<string>冷</string>
			<string>师</string>
			<string>不</string>
			<string>啥</string>
			<string>杀</string>
			<string>手</string>
			<string>老</string>
			<string>个</string>
			<string>别</string>
			<string>这</string>
			<string>那</string>
			<string>或</string>
			<string>需</string>
			<string>要</string>
			<string>则</string>
			<string>克</string>
			<string>时</string>
			<string>哦</string>
			<string>我</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>忠犬八公的故事</string>
		<key>icon</key>
		<string>movie_zqbgdgs</string>
		<key>title</key>
		<string>这真是漫长的一生啊，八公。</string>
		<key>options</key>
		<array>
			<string>公</string>
			<string>婆</string>
			<string>犬</string>
			<string>猫</string>
			<string>忠</string>
			<string>义</string>
			<string>八</string>
			<string>阿</string>
			<string>的</string>
			<string>事</string>
			<string>故</string>
			<string>完</string>
			<string>权</string>
			<string>丽</string>
			<string>向</string>
			<string>增</string>
			<string>利</string>
			<string>借</string>
			<string>赎</string>
			<string>号</string>
			<string>坏</string>
		</array>
	</dict>
</array>
</plist>
